{{define "post"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "header"}}
    <body>
    <div class="container-fluid" id="main">
        <div class="row align-items-center">
            <div class="col-1 container-fluid" id="karma-container">
                <div class="row justify-content-center">
                    <span class="upvote_post"></span>
                </div>
                <span class="row justify-content-center" id="karma">{{.Karma}}</span>
                <div class="row justify-content-center">
                    <span class="downvote_post"></span>
                </div>
            </div>
            <div class="col-11 container-fluid p-0" id="title-container">
                <div class="row">
                    <span class="col-12" id="title">{{.Text}}</span>
                </div>
                <div class="row" id="tagline">
                    <span class="col-12">
                        <span class="subtext">submitted by</span>
                        <a href="#" class="author">{{.Author}}</a>
                    </span>

                </div>
                <div class="row">
                    <ul class="col-12 list-inline post_buttons justify-content-start">
                        <li class="list-inline-item" id="comments">comments</li>
                        <li class="list-inline-item">source</li>
                        <li class="list-inline-item">share</li>
                        <li class="list-inline-item">save</li>
                        <li class="list-inline-item">hide</li>
                        <li class="list-inline-item gold">give award</li>
                        <li class="list-inline-item">report</li>
                        <li class="list-inline-item">crosspost</li>
                        <li class="list-inline-item">hide all child comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{end}}